/**
 * @file
 * Styling for the Forum module.
 */

#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}

#forum td.created,
#forum td.posts,
#forum td.topics,
#forum td.last-reply,
#forum td.replies,
#forum td.pager {
  white-space: nowrap;
}

#forum div.indent {
  margin-left: 20px; /* LTR */
}

#forum span.topic-icon{
  margin: auto;
}

#forum td.forum .icon,
#forum .icon div,
#forum .views-field-topic-icon span{
  /*background-image: url(/misc/forum-ico-sprite.png);*/
  background-repeat: no-repeat;
  width: 28px;
  height: 32px;
  /*background-position: -183px -2px;*/
  background-position: 0 0;
  background-image: url('../images/Post-Read.png');
}

#forum td.forum .forum-status-new,
#forum .icon .topic-status-new,
#forum .views-field-topic-icon span.topic-status-new,
#forum .views-field-topic-icon span.topic-icon-new{
  /*background-position: -150px 0;*/
  /*height: 27px;*/
  background-image: url('../images/new.png');
}

#forum .icon .topic-status-hot,
#forum .views-field-topic-icon span.topic-status-hot,
#forum .views-field-topic-icon span.topic-icon-hot{
  /*background-position: -79px 0;*/
  /*width: 28px;*/
  /*height: 27px;*/
  background-image: url('../images/hot.png');
}

#forum .icon .topic-status-hot-new,
#forum .views-field-topic-icon span.topic-status-hot-new,
#forum .views-field-topic-icon span.topic-icon-hot-new{
  /*background-position: -46px 0;*/
  /*width: 28px;*/
  /*height: 27px;*/
  background-image: url('../images/new.png');
  background-position: 0 -34px;
}

#forum .icon .topic-status-sticky,
#forum .views-field-topic-icon span.topic-status-sticky,
#forum .views-field-topic-icon span.topic-icon-sticky{
  /*background-position: -3px 10px;*/
  /*height: 29px;*/
  /*width: 16px;*/
  background-image: url('../images/sticky.png');
}

#forum .icon .topic-status-closed,
#forum .views-field-topic-icon span.topic-status-closed,
#forum .views-field-topic-icon span.topic-icon-closed{
  /*background-position: -215px 0;*/
  /*width: 28px;*/
  /*height: 27px;*/
  background-image: url('../images/Locked_Discussion.png');
}

div.forum-post {
  margin: 0 0 10px;
}

.page-forum #page-top {
  margin: 10px 0 0;
  position: relative;
}

/*.page-forum #breadcrumb a{
  color: #c4d3d6;
}*/

/* Topic list page */

.page-forum .pane-commons-bw-group > .block-inner{
  padding: 0;
}
.page-forum .pane-advanced-forum-buzzing-topic-list .view-content,
.page-forum .pane-advanced-forum-recent-topic-list .view-content,
.page-forum .pane-advanced-forum-followed-topic-list .view-content,
.page-forum .view-advanced-forum-my-topic-list .view-content,
.page-forum .pane-avrfreaks-social-avr-forum-legend,
.page-forum .pane-forum-list .block-content,
.page-forum .pane-forum-topic-list .view-content{
  overflow: hidden;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.06);
  -mox-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.06);
  -ms-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.06);
  box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.06);
  background: #fff;
  margin: 3px;
  clear: both;
}
.page-forum .forum-tools{
  display: none;
}
.page-forum .pane-forum-topic-list .view-content,
.page-forum .forum-node-create-links-top{
  margin: 0;
}

.page-forum .forum-node-create-links{
  margin-top: 15px;
}
.page-forum .forum-node-create-links-top{
  padding: 0 0 14px;
  margin-top: 0;
  font-size: 12px;
}

.page-forum .pane-avrfreaks-social-avr-forum-legend{
  padding: 10px 17px;
  margin-bottom: 50px;
}

.page-forum .pane-avrfreaks-social-avr-forum-legend .pane-title{
  font-size: 18px;
}

.page-forum .pane-avrfreaks-social-avr-forum-legend .icon{
  width: 33%;
  float: left;
  padding: 5px 0;
}

.page-forum .pane-avrfreaks-social-avr-forum-legend .icon div{
  margin-right: 20px;
  float: left;
}

.page-forum .pane-avrfreaks-social-avr-forum-legend .icon div.topic-status-sticky{
  margin-right: 32px;
}

.page-forum .pane-avrfreaks-social-avr-forum-legend .legend-text{
  font-size: 14px;
  line-height: 28px;
  float: left;
}

.html .block-content .forum-header .forum-icon,
.html .block-content td.forum-list-icon{
  width: 5%;
}
.html .block-content th.forum-name,
.html .block-content td.forum-details{
  width: 50%;
}
.html .block-content th.forum-topics,
.html .block-content td.forum-number-topics{
  width: 10%;
}
.html .block-content th.forum-posts,
.html .block-content td.forum-number-posts{
  width: 10%;
}
.html .block-content th.forum-last-post,
.html .block-content td.forum-last-reply{
  width: 25%;
}

tbody.forum-header tr{
  border: none;
}

.page-forum #forum table thead th,
.forum-header th,
.page-user-dashboard th{
  color: #fff;
  background-color: #005987;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .04) 0%, rgba(255, 255, 255, .04) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .04) 0%, rgba(255, 255, 255, .04) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .04) 0%, rgba(255, 255, 255, .04) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, .04) 0%, rgba(255, 255, 255, .04) 100%);
  border-right: 1px solid #2b89c4;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  padding: 9px 20px;
  text-align: center;
}

.page-forum #forum table thead th.forum-last-post,
.forum-header th.forum-last-post,
.page-user-dashboard th.views-field-edit-node{
  border: none;
}

.page-forum #forum table thead th a,
.forum-header th.forum-last-post a,
.page-user-dashboard table thead th a{
  color: #fff;
}

.page-forum #forum table a,
.page-user-dashboard table a{
  color: #028ed5;
}

.page-forum #forum table tbody tr,
.page-forum #forum table tbody tr:nth-child(2n+2),
.page-user-dashboard table tr{
  border-color: #d0dce1;
  padding: 0;
}

.page-forum #forum table tbody tr.odd td,
.page-user-dashboard table tr.odd td{
  background: #f7fafb;
}

.page-forum #forum table tbody tr.even td,
.page-user-dashboard table tr.even td{
  background: #ffffff;
}

.page-forum #forum table tbody td,
.page-user-dashboard table tbody td{
  border-left: 1px solid #eaf2f5;
  border-right: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-forum #forum table tbody td:first-child,
.page-user-dashboard table tbody td:first-child{
  border-left: none;
}

.page-forum .views-field-comment-count{
  display: table-cell;
}

.page-forum .pane-commons-bw-group {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.page-forum #forum table{
  color: #46596d;
  border: none;
  box-shadow: none;
  margin: 0;
}

.page-forum span.forum-collapsible{
  margin-top: 2px;
}
.page-forum #forum table thead th{
  border-color: #2b89c4;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
}
.page-forum #forum table thead th.forum-last-post{border: none;}

.page-forum .forum-table-wrap{
  margin: 0;
  border-bottom: 1px solid #d0dce1;
}

.page-forum .forum-table-wrap .forum-table-superheader {
  background: #fff;
  padding: 7px 10px;

  line-height: 1;
}

.forum-table-superheader .forum-table-name{
  font-size: 16px;
}

.page-forum .forum-table-wrap .forum-table-superheader a{
  color: #46596d;
}

.page-forum .forum-table-wrap:first-child .forum-table-superheader{
  display: none;
}

.page-forum .forum-table-wrap:first-child .forum-header{
  display: table-header-group;
}

.page-forum #forum table tbody td div {
  display: inline-block;
}

.page-forum table .topics,
.page-forum table .posts {
  text-align: center;
  font-size: 14px;
}

.page-forum table .topics {
  font-weight: 700;
}

.page-forum table .forum a {
  font-weight: 500;
}

.page-forum td.forum-list-icon,
.page-forum td.views-field-topic-icon{
  width: 5%;
}

.page-forum td.forum-last-reply{
  width: 32%;
}
.page-forum td.forum-last-reply,
.page-forum td.views-field-last-updated{
  padding: 10px 20px;
  line-height: normal;
}

.page-forum #forum table tbody td .forum-number-new-topics{
  clear: both;
  display: block;
  font-size: 12px;
  margin-top: -4px;
}

.page-forum td.forum-last-reply br,
.page-forum td.views-field-last-updated br{
  display: none;
}
.page-forum td.forum-last-reply a,
.page-forum td.views-field-last-updated a{
  margin-right: 4px;
}

.page-forum td.forum-details,
.page-forum td.views-field-title{
  padding: 10px 17px;
  width: 39%;
}
.page-forum td.forum-details .forum-name {
  font-size: 14px;
  line-height: normal;
}
.page-forum td.forum-details .forum-description,
.page-forum td.views-field-title{
  font-size: 12px;
  line-height: 18px;
  color: #0a293b;
}

.page-forum .forum-list-icon-default img{
  display: block;
  margin: auto;
}

.page-forum td.views-field-title .sticky-label {
  display: none;
}

.page-forum td.views-field-title .forum-topic-title {
  font-size: 14px;
  color: #0D8BB9;
}

.page-forum .views-field-comment-count {
  color: #46596D;
  font-size: 12px;
}

.page-forum #tasks {
  margin: 0;
}

.page-forum #tasks .action-links {
  text-align: right;
}

.pane-avrfreaks-add-poll .action-links {
  padding: 0;
}

/* Forum pager */
.page-user.page-user-projects .item-list .pager .pager-item,
.page-user.page-user-projects .item-list .pager .pager-current,
.page-user.page-user-projects .item-list .pager .pager-next,
.item-list .pager .pager-item {
  padding: 0;
  margin: 0 8px 0 0;
}

.node-type-forum .pane-avrfreaks-social-share {
  border-top: 1px solid #e9e9e9;
  padding-top: 25px;
  text-align: right;
}
.page-user.page-user-projects .item-list .pager a,
.item-list .pager-current,
.item-list .pager a {
  background-color: #ebebeb;
  background-image: -webkit-linear-gradient(bottom, #e1e1e1 0%, rgba(255, 255, 255, .74) 100%);
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #8f8f8f;
  display: inline-block;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 6px 9px;
  line-height: normal;
}

.item-list .pager-current {
  background-color: #005987;
  background-image: none;
  border: 1px solid #001d2c;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, .43);
  color: #fff;
  font-weight: 500;
  line-height: normal;
  margin-right: 5px;
  padding: 6px 9px !important;
}

.item-list-pager {
  border-bottom: 1px solid #e9e9e9;
}

.item-list-pager .pager {
  padding: 20px 0;
  text-align: left;
}

.item-list .pager li {
  padding: 0;
}

.page-forum #forum .flag-wrapper a {
  color: #333333;
}

/* Additional */

.forum-post-content {
  padding: 10px 15px 0;
}

.forum-post-poll{
  padding: 0 15px;
}

.forum-post-poll .node-header,
.forum-post-poll .submitted,
.post-poll-sidebar .node-header,
.post-poll-sidebar .submitted {
  display: none;
}

.forum-post-poll .poll,
.post-poll-sidebar .poll {
  margin-top: 10px;
}

.forum-post-poll .node-poll .node-content{
  margin: auto;
  border: 1px solid #e5ebee;
  padding: 10px;
}

.post-poll-sidebar .node-poll .node-content{
  margin: auto;
}

.forum-post-poll .node-content .choices,
.post-poll-sidebar .node-content .choices {
  margin: 0;
}

.post-poll-sidebar .node-content .field-name-title-field {
  font-size: 16px;
}

.forum-post-poll .node-content .vote-form label,
.post-poll-sidebar .node-content .vote-form label {
  font-weight: normal;
}

.post-poll-sidebar .node-content .form-submit {
  float: left;
  margin: 10px 0 15px;
}

.forum-post-poll .node-content .form-submit {
  float: left;
  margin-top: 10px;
}

.user-profile-details {
  font-size: 14px;
}

.user-profile-details .views-label {
  color: #687781;
}

/* end Additional */

/* Forum legend */

#block-avrfreaks-social-avr-forum-legend {
  color: #005a88;
  font-size: 14px;
  font-weight: 500;
  margin: 40px 0;
}

#block-avrfreaks-social-avr-forum-legend .icon {
  display: inline-block;
  line-height: normal;
  margin: 0 20px 5px 0;
  vertical-align: top;
  width: 270px;
}

#block-avrfreaks-social-avr-forum-legend .icon:nth-child(3n+1) {
  clear: both;
}

#block-avrfreaks-social-avr-forum-legend .icon div {
  display: inline-block;
}

#block-avrfreaks-social-avr-forum-legend .icon .legend-text {
  padding-left: 20px;
}

#block-avrfreaks-social-avr-forum-legend .icon .topic-status-sticky {
  margin-right: 10px;
}

code.bb-code {
  border: 1px solid #e1e7ea;
  font-family: Courier, sans-serif;
  padding: 10px;
}

.author-signature {
  margin: 10px 15px 0;
  border-top: 1px solid grey;
}

#comment-flagged:hover {
  text-decoration: none;
}

#comment-flagged span {
  font-size: 12px;
  color: #028ed5;
}

.node-type-forum .pane-node-title h2 {
  margin: 0;
  line-height: normal;
}

.node-type-forum .bb-quote > b{
  padding: 10px 10px 0 20px;
  display: block;
}

.node-type-forum .bb-quote .bb-quote-body{
  margin: 1em 20px;
  padding:  10px;
}

.node-type-forum .bb-quote .bb-quote-body p{
  margin-bottom: 15px;
}

.forum-post-upper-panel .timeago{
  font-size: 12px;
  font-weight: normal;
}

.forum-post-upper-panel.solved {
  background-color: #CFF2D9;
}

.node-type-forum .rate-fivestar-processed{
  padding: 0;
}

.node-type-forum .user-picture{
  text-align: center;
  padding-top: 15px;
}
.node-type-forum .rate-widget{
  overflow: hidden;
}

.node-type-forum .rate-widget .item-list,
.node-type-forum .rate-widget .rate-info{
  float: left;
  clear: none;
}

.node-type-forum .rate-widget .item-list{
  margin: 7px 8px 0 23px;
}

.node-type-forum .rate-widget .rate-info{
  margin-top: 7px;
}

.node-type-forum .field-name-body,
.node-type-forum .field-name-comment-body,
.node-type-forum .forum-post-poll,
.node-type-forum .author-signature{
  clear: both;
  line-height: 18px;
  color: #46596d;
  margin-top: 0px;
}

.node-type-forum .forum-post-poll .view-content {
  margin-bottom: 10px; 
}

/*.node-type-forum .field-name-body p{
  margin-bottom: 7px;
}*/

.node-type-forum .forum-post-info .forum-post-panel-sub{
  color: #46596d;
  line-height: 18px;
  margin-top: 0px;
}


.node-type-forum .topic-reply-allowed span,
.node-type-forum .last-post-link span,
.node-type-forum .topic-add-poll-link span {
  background: none;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.node-type-forum .flag-commons_follow_node .flag-action,
.search-results-content .flag-commons_follow_node .flag-action{
  padding-left: 27px;
}
.node-type-forum .flag-commons_follow_node .unflag-action,
.search-results-content .flag-commons_follow_node .unflag-action{
  padding-left: 50px;
}

.node-type-forum .flag-commons_follow_node a:before,
.search-results-content .flag-commons_follow_node a:before{
  top: 2px;
}
.forum-post-footer .af-button-small:hover{
  border: 1px solid #b2b2b2;
}

.forum-post-links .af-button-small span{
  padding: 0;
  background: none;
}

.forum-post-links {
  margin: 0px;
}

.node-action-links .post-edit a:before,
.node-action-links .post-delete a:before{
  content: '';
  background: url('../images/icons-s0eb3728c55.png') 0px -1166px no-repeat;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 1px;
  height: 10px;
  width: 10px;
}

.node-action-links .post-edit a:before{
  background-position: 0px -1074px;
}

.node-action-links .post-delete a:before{
  background: url('../images/delete-ico.png') 0 0 no-repeat;
}

div.views-row-floated, div.views-row-floated > div {
  float: left;
}

.page-node-add .node-form{
  padding: 20px;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 18px;
  color: #46596d;
}

.page-node-add #page-title{
  margin-bottom: 10px;
}

.post-tags{
  padding: 0 15px 10px;
  overflow: hidden;
  font-size: 12px;
}

.node-tags.post-tags{
  padding: 0 0 15px;
}

.post-tags h2{
  margin: 0;
  text-transform: uppercase;
}

.page-node-add .form-item label{
  text-transform: uppercase;
}

.page-node-add .field-type-text-with-summary .fieldset-outer-wrapper{
  border: none;
  padding-top: 0;
}

.page-node-add.palette-blue-blue .action-item-primary{
  background: #028ed5;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
  border-color: #007ab8;
}

.forum-author-name-block .author-pane{
  text-align: center;
  background: #f7fafb;
}

.forum-author-name-block .author-pane > img{
  position: relative;
  top: 4px;
  display: inline-block;
}

.forum-author-name-block .author-pane .username{
  width: auto;
  border: none;
  background: transparent;
  display: inline-block;
}

.forum-author-name-block .author-pane .user-picture{
  clear: both;
  border-top: 1px solid #eaf2f5;
  background: #fff;
}

.views-field-last-comment-link{
  font-size: 12px;
  line-height: 1;
}

.forum-topic-header .topic-add-poll-link {
  float: left;
  margin: 0 7px 7px 0;
}

.forum-topic-header .topic-post-count {
  font-size: 12px;
}

.forum-topic-hat {
  background-color: #005987;
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.04) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.04) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.04) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.04) 100%);
  text-transform: uppercase;
}
.rate-fivestar-btn-empty{
    background: url('../images/stars.png') 0 0 no-repeat;

}
.rate-fivestar-btn-filled {
    background: url('../images/stars.png') 0 -16px no-repeat;

}