
/*
This file contains colors, graphics, and text effects.

Colors used:
  #C1C1C1 Borders, post seperator, avatar frame, statistics subheader.
  #333333 Table header font color.
  #F5F5F5 to #DDDDDD Gradient on table headers, post info, stats header, top
                     post footer, topic navigation.
  #F5F5F5 to #EFEFEF Gradient on topic list background.
  #F5F5F5 Stats section background.
  #FAFAFA Text area on posts.
*/

/*** PAGER *******************************************************************/

/* This is the pager on the topics in the list */
.topic-pager {
  font-style: italic;
}

.forum-pager .pager a,
#forum-comments .pager a {
  font-weight: bold;
}

.forum-pager .pager a:link,
.forum-pager .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  text-decoration: none;
  border: 1px solid #C1C1C1;
  background: #EFEFEF;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#EFEFEF));
  background: -moz-linear-gradient(top, #F5F5F5, #EFEFEF);
}

.forum-pager .pager-current,
.forum-pager .pager a:hover,
#forum-comments .pager-current,
#forum-comments .pager a:hover {
  background: #333333;
  color: #FFFFFF !important;
}

.forum-pager .pager a.active,
#forum-comments .pager a.active {
  color: #333333;
}

/*** FORUM & TOPIC LISTS ******************************************************/

/* Forum list and topic list tables */
.forum-table {
  border: 1px solid #C1C1C1;
}

/* Table name and description on forum list and table header on topic list */
.forum-table-wrap .forum-table-superheader,
.forum-table-topics thead tr  {
  border: 1px solid #C1C1C1;
  background: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDDDDD));
  background: -moz-linear-gradient(top, #F5F5F5, #DDDDDD);
  color: #333333;
}

/* Table name on forum list */
.forum-table-superheader .forum-table-name,
.forum-table-superheader .forum-table-name a {
  color: #333333;
  font-weight: bold;
  color: #333333;
  font-weight: bold;
  border-bottom: none;
}

/* Table header on forum list */
.forum-table-wrap thead tr {
  background-color: #F5F5F5;
  border: 1px solid #C1C1C1;
}

/* Table header on forum list and topic list */
.forum-table thead tr a,
.forum-table thead tr a:visited,
.forum-table thead tr a:link {
  color: #333333;
  font-weight: bold;
}

/* Reset to avoid bleed-thru from theme */
.forum-table thead th {
  border-bottom: none;
}

/* Rows on both tables */
.forum-table tr.even,
.forum-table tr.odd {
  border-top: 1px solid #C1C1C1;
  background: #EFEFEF;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDDDDD));
  background: -moz-linear-gradient(top, #F5F5F5, #DDDDDD);
}

/* Active column on both tables - reset to prevent bleed thru from theme */
.forum-table tr.even td.active,
.forum-table tr.odd td.active{
  background-color: transparent;
}

/* Individual cells on both tables */
.forum-table td {
  border: 1px solid #C1C1C1;
}

/* Placeholder when there are no topics in the list */
.view-advanced-forum-topic-list .view-empty {
  border: 3px solid #C1C1C1;
}

/*** Sticky topics ***/
.forum-table tr.forum-last-sticky {
  border-bottom: 10px solid #C1C1C1;
}

.forum-table .sticky-label {
  font-weight: bold;
}

/*** FORUM STATISTICS *********************************************************/

#forum-statistics {
  border: 1px solid #C1C1C1;
}

#forum-statistics-header {
  border-top: 1px solid #C1C1C1;
  background: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DDDDDD));
  background: -moz-linear-gradient(top, #EFEFEF, #DDDDDD);
  color: #333333;
  font-weight: bold;
}

.forum-statistics-sub-header {
  border-top: 1px solid #C1C1C1;
  border-bottom: 1px solid #C1C1C1;
  font-weight: bold;
}

.forum-statistics-sub-body {
  background-color: #F5F5F5;
}

/*** FORUM TOPICS **********************************************************/

div.forum-post{
    background: #fff;
    border-bottom: 2px solid #bfced4;
}

/* Header at the top of each post */
.forum-post-info{
    background: #fff;
    border: none;
    float: left;
    width: 190px;
}

.avr-forum-posted-on {
  float: none;
  padding: 0px;
}

.forum-post-number {
  font-size: 12px;
  font-weight: normal;
  color: #687781;
  margin-top: 5px;
}

.forum-post .new,
.forum-in-reply-to {
  font-size: 12px;
  margin-top: 5px;
}

.forum-post-info .forum-post-panel-sub{
    color: #687781;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 0 10px;
    width: auto;
}

/*.forum-post-number a {
  color: #333333 !important;
}*/

/* Wrapper around author pane and content */
.avr-forum-post-wrapper{
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #eaf2f5;
    min-height: 215px;
    float: none;
    margin-left: 190px;
    box-sizing: border-box;
}

.avr-forum-post-wrapper .avr-forum-post-panel-main{
    background: #fff;
    border: none;
}

/* Author information pane */
.forum-post-panel-sub .author-pane .author-name {
  font-weight: bold;
}

.forum-post-panel-sub .author-pane .picture img {
  border: 1px solid #C1C1C1;
  background-color: #FFFFFF;
}

.forum-post-panel-sub .author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
.avr-forum-post-panel-main {
  border-left: 1px solid #C1C1C1;
  background-color: #FAFAFA;
}

.forum-post-title {
  font-weight: bold;
  border-bottom: 1px solid #C1C1C1;
}

/* Signature */
.author-signature {
  font-size: .8em;
}

/* Post footer */
.forum-post-footer{
    border-top: 1px solid #eaf2f5;
    overflow: hidden;
    border-left: 1px solid #eaf2f5;
    float:none;
    box-sizing: border-box;
    margin-left: 190px;
}

.forum-post-footer .forum-post-links .links.inline{
    float: left;
}

.forum-post-footer .af-button-small{
    background: transparent;
    border-top: none;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    float: right;
    text-shadow: none;
}

.forum-post-footer .af-button-small:hover{
    background: none;
    border: none;
}

.forum-post-links .af-button-small span{
    background: url(images/ico-top.png) 0 center no-repeat;
    color: #055c88;
    padding: 0 0 0 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

/* Post links */

.forum-post-footer .forum-post-links{
    overflow: hidden;
    float: none;
    padding: 10px 25px 10px 15px;

}

.forum-post-footer .forum-post-links li{
    margin: 0 5px 0 0;
    padding: 0;
}

.flag-commons_follow_node a,
.flag-bookmarks a,
.quote a,
.comment-edit a,
.comment-delete a{
    position: relative;
}

.flag-commons_follow_node a::before,
.flag-bookmarks a::before,
.comment-delete a::before,
.comment-edit a::before,
.quote a::before{
    content: '';
    background: url(http://avrfreaksdev.prod.acquia-sites.com/sites/all/themes/avrfreaks/images/icons-s0eb3728c55.png) 0px -1166px no-repeat;
    width: 13px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.quote a::before{
    background: url(images/quote.png) 0 0 no-repeat;
    height: 12px;
    margin-right: 8px;
    top: 1px;
    width: 12px;
}

.comment-delete a::before{
    background: url(images/delete-ico.png) 0 0 no-repeat;
    height: 10px;
    top: 1px;
    width: 10px;
}

.comment-edit a::before{
    background: url(http://avrfreaksdev.prod.acquia-sites.com/sites/all/themes/avrfreaks/images/icons-s0eb3728c55.png) 0px -1074px no-repeat;
    height: 10px;
    top: 1px;
    width: 10px;
}

.flag-bookmarks a::before{
    background: url(images/ico-star.png) 0 0 no-repeat;
    height: 13px;
    top: 3px;
    width: 14px;
}

.flag-commons_follow_node a::before{
    background: url(images/follow-ico.png) 0 0 no-repeat;
    height: 9px;
    top: 1px;
    width: 13px;
}

.forum-jump-links {
  border-right: none;
}

/* Post upper line */

.forum-post-upper-panel{
    background: #f7fafb;
    border-bottom: 1px solid #eaf2f5;
    color: #687781;
    padding: 3px 20px 6px 15px;
}

.forum-post-upper-panel .label-text{
    background: url(http://avrfreaksdev.prod.acquia-sites.com/sites/all/themes/avrfreaks/images/icons-s0eb3728c55.png) no-repeat 0 -1165px;
    padding-left: 20px;
}

.forum-post-upper-panel .label-text,
.forum-post-upper-panel .date-time{
    font-size: 12px;
    font-weight: normal;
}

/* Post content zone */

.forum-post-content{
    color: #000;
    font-size: 12px;
    line-height: 20px;
    padding: 15px 30px 40px;
}

/* Author block */

.forum-author-name-block .username{
    background: #f7fafb;
    border-bottom: 1px solid #eaf2f5;
    color: #028ed5;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}

/* Box under top post before first reply */
.forum-top-post-footer {
  border: 1px solid #C1C1C1;
  background: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDDDDD));
  background: -moz-linear-gradient(top, #F5F5F5, #DDDDDD);
}

/* Topic navigation */
.forum-topic-navigation {
  border: 1px solid #C1C1C1;
  background: #DDDDDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDDDDD));
  background: -moz-linear-gradient(top, #F5F5F5, #DDDDDD);
}

/* Forum page wrappers */
.node-type-forum .pane-commons-bw-group > .block-inner{
    padding: 0;
}

.node-type-forum .pane-commons-bw-group{
    background: transparent;
    box-shadow: none;
}

/* Forum heading */

.node-type-forum .pane-node-title h2{
    font-size: 40px;
    font-weight: normal;
}

/* Topic hat */
.page-forum #forum table thead th,
.forum-topic-hat .forum-hat-left-side,
.forum-topic-hat .forum-hat-right-side{
    color: #fff;
    background-color: #005987;
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.04) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.04) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.04) 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,.04) 0%, rgba(255,255,255,.04) 100%);
    float: left;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 9px 0;
}

.page-forum #forum table thead th{
    border-right: 1px solid #fff;
    float:none;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.forum-topic-hat .forum-hat-left-side{
    margin-right: 1px;
    width: 190px;
    border-right: 1px solid white;
}

.forum-topic-hat .forum-hat-right-side{
    float: none;
    margin-left: 191px;
}

/* User avatar */

.user-picture-available .user-picture{
    padding-top: 30px;
    text-align: center;
}

/* Forum Quotes */
.node-type-forum .bb-quote{
    border: 1px solid #e5ebee;
    color: #666666;
}
.node-type-forum .bb-quote .bb-quote-body{
    border: 1px solid #e5ebee;
}

/* Code block */

.bb-code-block{
    border: 1px solid #e5ebee;
    font-family: Courier, sans-serif;
}

.comment-wrapper > div.forum-topic-hat {
  margin-bottom: 0px;
}